<a href="https://colab.research.google.com/github/castrigno22/Python/blob/main/Copia_di_pandas_merge%2C_concat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Merging

Come Ã¨ possibile unire le informazioni provenienti da dataframe diversi?

https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

https://datascienceparichay.com/article/understanding-joins-in-pandas/

Vediamo un esempio con il database della polizia locale che memorizza le informazioni sui proprietari delle auto, le tipologie di infrazioni al codice della strada e le multe che sono state date dai vigili agli automobilisti indisciplinati.

In [ ]:
import pymongo
client = pymongo.MongoClient(
    "mongodb://webUser:xxx123xxx@cluster0-shard-00-00.algwo.mongodb.net:27017,cluster0-shard-00-01.algwo.mongodb.net:27017,cluster0-shard-00-02.algwo.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-am4cb3-shard-0&authSource=admin&retryWrites=true&w=majority")
db = client.polizia_locale # nome del database
multe = db.multe
multe1 = db.multe1
prop = db.proprietari_auto
tipo_infraz = db.tipologia_infrazioni

In [ ]:
import pandas as pd

In [ ]:
df_multe = pd.DataFrame(multe.find())
df_multe1 = pd.DataFrame(multe1.find())
df_prop = pd.DataFrame(prop.find())
df_tipo_infraz = pd.DataFrame(tipo_infraz.find())

In [ ]:
df_multe

                        _id    targa                data  codice_infrazione
0  61a3c339002f6ba194601ee7  BM665RE 2021-10-10 22:00:00                  1
1  61a3c339002f6ba194601eeb  DS456AS 2021-10-17 22:00:00                  2
2  61a3c339002f6ba194601eea  DS456AS 2021-10-18 22:00:00                  3
3  61a3c339002f6ba194601ee9  BM665RE 2021-10-18 22:00:00                  1
4  61a3c339002f6ba194601ee8  DS456AS 2021-10-10 22:00:00                  2

In [ ]:
df_multe1

                        _id    targa                data  codice_infrazione
0  61a3c36c002f6ba194601ef1  DS456AS 2021-11-16 23:00:00                  3
1  61a3c36c002f6ba194601ef2  DS456AS 2021-11-12 23:00:00                  5
2  61a3c36c002f6ba194601eef  DS456AS 2021-11-11 23:00:00                  2
3  61a3c36c002f6ba194601ef0  BM665RE 2021-11-16 23:00:00                  4
4  61a3c36c002f6ba194601ef3  XX000YY 2021-11-18 23:00:00                  5
5  61a3c36c002f6ba194601eee  BM665RE 2021-11-27 23:00:00                  5

In [ ]:
df_prop

                        _id     nome  cognome    targa
0  61a3bf26002f6ba194601eba    carlo    verdi  DD876CA
1  61a3bf26002f6ba194601eb9    carlo    verdi  DS456AS
2  61a3bf26002f6ba194601eb8    mario    rossi  BM665RE
3  61a3bf26002f6ba194601ebb  stefano  bianchi  AS765ZA

In [ ]:
df_tipo_infraz

                        _id  ...                                               note
0  61a49d205a4cb744e63c8d38  ...                  sospensione patente da 2 a 6 mesi
1  61a49d205a4cb744e63c8d36  ...                   tra 10 e 40 km/h oltre il limite
2  61a49d205a4cb744e63c8d35  ...                     fino a 10 km/h oltre il limite
3  61a49d205a4cb744e63c8d39  ...                    eventuale arresto da 1 a 8 mesi
4  61a49d205a4cb744e63c8d37  ...  sospensione patente da 1 a 3 mesi se recidiva ...
5  61a49d205a4cb744e63c8d3a  ...           eventuale arresto da sei mesi ad un anno

[6 rows x 6 columns]

Vediamo come Ã¨ possibile unire due dataframe che presentano la stessa struttura:

In [ ]:
df_multe_complessivo = df_multe.append(df_multe1)
df_multe_complessivo

                        _id    targa                data  codice_infrazione
0  61a3c339002f6ba194601ee7  BM665RE 2021-10-10 22:00:00                  1
1  61a3c339002f6ba194601eeb  DS456AS 2021-10-17 22:00:00                  2
2  61a3c339002f6ba194601eea  DS456AS 2021-10-18 22:00:00                  3
3  61a3c339002f6ba194601ee9  BM665RE 2021-10-18 22:00:00                  1
4  61a3c339002f6ba194601ee8  DS456AS 2021-10-10 22:00:00                  2
0  61a3c36c002f6ba194601ef1  DS456AS 2021-11-16 23:00:00                  3
1  61a3c36c002f6ba194601ef2  DS456AS 2021-11-12 23:00:00                  5
2  61a3c36c002f6ba194601eef  DS456AS 2021-11-11 23:00:00                  2
3  61a3c36c002f6ba194601ef0  BM665RE 2021-11-16 23:00:00                  4
4  61a3c36c002f6ba194601ef3  XX000YY 2021-11-18 23:00:00                  5
5  61a3c36c002f6ba194601eee  BM665RE 2021-11-27 23:00:00                  5

In [ ]:
df_multe_complessivo = df_multe.append(df_multe1).reset_index()
df_multe_complessivo

    index                       _id  ...                data codice_infrazione
0       0  61a3c339002f6ba194601ee7  ... 2021-10-10 22:00:00                 1
1       1  61a3c339002f6ba194601eeb  ... 2021-10-17 22:00:00                 2
2       2  61a3c339002f6ba194601eea  ... 2021-10-18 22:00:00                 3
3       3  61a3c339002f6ba194601ee9  ... 2021-10-18 22:00:00                 1
4       4  61a3c339002f6ba194601ee8  ... 2021-10-10 22:00:00                 2
5       0  61a3c36c002f6ba194601ef1  ... 2021-11-16 23:00:00                 3
6       1  61a3c36c002f6ba194601ef2  ... 2021-11-12 23:00:00                 5
7       2  61a3c36c002f6ba194601eef  ... 2021-11-11 23:00:00                 2
8       3  61a3c36c002f6ba194601ef0  ... 2021-11-16 23:00:00                 4
9       4  61a3c36c002f6ba194601ef3  ... 2021-11-18 23:00:00                 5
10      5  61a3c36c002f6ba194601eee  ... 2021-11-27 23:00:00                 5

[11 rows x 5 columns]

In [ ]:
df_multe_complessivo = df_multe.append(df_multe1, ignore_index=True)
df_multe_complessivo

                         _id    targa                data  codice_infrazione
0   61a3c339002f6ba194601ee7  BM665RE 2021-10-10 22:00:00                  1
1   61a3c339002f6ba194601eeb  DS456AS 2021-10-17 22:00:00                  2
2   61a3c339002f6ba194601eea  DS456AS 2021-10-18 22:00:00                  3
3   61a3c339002f6ba194601ee9  BM665RE 2021-10-18 22:00:00                  1
4   61a3c339002f6ba194601ee8  DS456AS 2021-10-10 22:00:00                  2
5   61a3c36c002f6ba194601ef1  DS456AS 2021-11-16 23:00:00                  3
6   61a3c36c002f6ba194601ef2  DS456AS 2021-11-12 23:00:00                  5
7   61a3c36c002f6ba194601eef  DS456AS 2021-11-11 23:00:00                  2
8   61a3c36c002f6ba194601ef0  BM665RE 2021-11-16 23:00:00                  4
9   61a3c36c002f6ba194601ef3  XX000YY 2021-11-18 23:00:00                  5
10  61a3c36c002f6ba194601eee  BM665RE 2021-11-27 23:00:00                  5

In [ ]:
df_multe_complessivo = pd.concat([df_multe, df_multe1])
df_multe_complessivo

                        _id    targa                data  codice_infrazione
0  61a3c339002f6ba194601ee7  BM665RE 2021-10-10 22:00:00                  1
1  61a3c339002f6ba194601eeb  DS456AS 2021-10-17 22:00:00                  2
2  61a3c339002f6ba194601eea  DS456AS 2021-10-18 22:00:00                  3
3  61a3c339002f6ba194601ee9  BM665RE 2021-10-18 22:00:00                  1
4  61a3c339002f6ba194601ee8  DS456AS 2021-10-10 22:00:00                  2
0  61a3c36c002f6ba194601ef1  DS456AS 2021-11-16 23:00:00                  3
1  61a3c36c002f6ba194601ef2  DS456AS 2021-11-12 23:00:00                  5
2  61a3c36c002f6ba194601eef  DS456AS 2021-11-11 23:00:00                  2
3  61a3c36c002f6ba194601ef0  BM665RE 2021-11-16 23:00:00                  4
4  61a3c36c002f6ba194601ef3  XX000YY 2021-11-18 23:00:00                  5
5  61a3c36c002f6ba194601eee  BM665RE 2021-11-27 23:00:00                  5

Vediamo ora come unire le informazioni presenti in dataframe che hanno una struttura diversa tranne che per un campo (o piÃ¹ campi) che contengono informazioni che permettono di collegare un record (una riga) di un dataframe con uno o piÃ¹ record dell'altro dataframe:

<img src="https://miro.medium.com/max/1838/1*ZCpo3gXuXI4KFhKivEt2ZA.png" width=800>

Nell'esempio il campo "id" permette di mettere in relazione le righe del primo dataframe con le righe del secondo dataframe. Prestare attenzione al fatto che il legame non Ã¨ causato tanto dal nome del campo (che Ã¨ lo stesso per rendere piÃ¹ leggibile la relazione) quanto dal valore contenuto in quel campo. L'id 2 indica Jenny in un dataframe e una donna di 31 anni nel secondo dataframe: siccome l'id Ã¨ lo stesso, vuol dire che Jenny ha 31 anni.

Per fare questa operazione di join utilizzeremo il metodo di Pandas merge() che effettua una join (una associazione, una connessione, un collegamento) tra i record dei due dataframe dove il campo in comune contiene lo stesso valore.

Ci sono diversi tipi di join, ognuna che effettua una associazione dal risultato diverso. Le join principali sono la left join, la right join, la outer join e la inner join.

<img src="https://i1.wp.com/datascienceparichay.com/wp-content/uploads/2021/01/Left-Join-diagram.png?w=800&ssl=1">

In [ ]:
df_proprietari_multe = pd.merge(df_prop, df_multe_complessivo, how="left", on=["targa"])
df_proprietari_multe

                       _id_x     nome  ...                data codice_infrazione
0   61a3bf26002f6ba194601eba    carlo  ...                 NaT               NaN
1   61a3bf26002f6ba194601eb9    carlo  ... 2021-10-17 22:00:00               2.0
2   61a3bf26002f6ba194601eb9    carlo  ... 2021-10-18 22:00:00               3.0
3   61a3bf26002f6ba194601eb9    carlo  ... 2021-10-10 22:00:00               2.0
4   61a3bf26002f6ba194601eb9    carlo  ... 2021-11-16 23:00:00               3.0
5   61a3bf26002f6ba194601eb9    carlo  ... 2021-11-12 23:00:00               5.0
6   61a3bf26002f6ba194601eb9    carlo  ... 2021-11-11 23:00:00               2.0
7   61a3bf26002f6ba194601eb8    mario  ... 2021-10-10 22:00:00               1.0
8   61a3bf26002f6ba194601eb8    mario  ... 2021-10-18 22:00:00               1.0
9   61a3bf26002f6ba194601eb8    mario  ... 2021-11-16 23:00:00               4.0
10  61a3bf26002f6ba194601eb8    mario  ... 2021-11-27 23:00:00               5.0
11  61a3bf26002f6ba194601ebb  stefano  ...                 NaT               NaN

[12 rows x 7 columns]

<img src="https://i2.wp.com/datascienceparichay.com/wp-content/uploads/2021/01/Right-Join-diagram.png?w=800&ssl=1">

In [ ]:
df_proprietari_multe = pd.merge(df_prop, df_multe_complessivo, how="right", on=["targa"])
df_proprietari_multe

                       _id_x   nome  ...                data codice_infrazione
0   61a3bf26002f6ba194601eb8  mario  ... 2021-10-10 22:00:00                 1
1   61a3bf26002f6ba194601eb8  mario  ... 2021-10-18 22:00:00                 1
2   61a3bf26002f6ba194601eb8  mario  ... 2021-11-16 23:00:00                 4
3   61a3bf26002f6ba194601eb8  mario  ... 2021-11-27 23:00:00                 5
4   61a3bf26002f6ba194601eb9  carlo  ... 2021-10-17 22:00:00                 2
5   61a3bf26002f6ba194601eb9  carlo  ... 2021-10-18 22:00:00                 3
6   61a3bf26002f6ba194601eb9  carlo  ... 2021-10-10 22:00:00                 2
7   61a3bf26002f6ba194601eb9  carlo  ... 2021-11-16 23:00:00                 3
8   61a3bf26002f6ba194601eb9  carlo  ... 2021-11-12 23:00:00                 5
9   61a3bf26002f6ba194601eb9  carlo  ... 2021-11-11 23:00:00                 2
10                       NaN    NaN  ... 2021-11-18 23:00:00                 5

[11 rows x 7 columns]

<img src="https://i1.wp.com/datascienceparichay.com/wp-content/uploads/2021/01/Outer-Join-diagram.png?w=800&ssl=1" >

In [ ]:
df_proprietari_multe = pd.merge(df_prop, df_multe_complessivo, how="outer", on=["targa"])
df_proprietari_multe

                       _id_x     nome  ...                data codice_infrazione
0   61a3bf26002f6ba194601eba    carlo  ...                 NaT               NaN
1   61a3bf26002f6ba194601eb9    carlo  ... 2021-10-17 22:00:00               2.0
2   61a3bf26002f6ba194601eb9    carlo  ... 2021-10-18 22:00:00               3.0
3   61a3bf26002f6ba194601eb9    carlo  ... 2021-10-10 22:00:00               2.0
4   61a3bf26002f6ba194601eb9    carlo  ... 2021-11-16 23:00:00               3.0
5   61a3bf26002f6ba194601eb9    carlo  ... 2021-11-12 23:00:00               5.0
6   61a3bf26002f6ba194601eb9    carlo  ... 2021-11-11 23:00:00               2.0
7   61a3bf26002f6ba194601eb8    mario  ... 2021-10-10 22:00:00               1.0
8   61a3bf26002f6ba194601eb8    mario  ... 2021-10-18 22:00:00               1.0
9   61a3bf26002f6ba194601eb8    mario  ... 2021-11-16 23:00:00               4.0
10  61a3bf26002f6ba194601eb8    mario  ... 2021-11-27 23:00:00               5.0
11  61a3bf26002f6ba194601ebb  stefano  ...                 NaT               NaN
12                       NaN      NaN  ... 2021-11-18 23:00:00               5.0

[13 rows x 7 columns]

<img src="https://i0.wp.com/datascienceparichay.com/wp-content/uploads/2021/01/Inner-Join-diagram.png?w=800&ssl=1">

In [ ]:
df_proprietari_multe = pd.merge(df_prop, df_multe_complessivo, how="inner", on=["targa"])
df_proprietari_multe

                      _id_x   nome  ...                data codice_infrazione
0  61a3bf26002f6ba194601eb9  carlo  ... 2021-10-17 22:00:00                 2
1  61a3bf26002f6ba194601eb9  carlo  ... 2021-10-18 22:00:00                 3
2  61a3bf26002f6ba194601eb9  carlo  ... 2021-10-10 22:00:00                 2
3  61a3bf26002f6ba194601eb9  carlo  ... 2021-11-16 23:00:00                 3
4  61a3bf26002f6ba194601eb9  carlo  ... 2021-11-12 23:00:00                 5
5  61a3bf26002f6ba194601eb9  carlo  ... 2021-11-11 23:00:00                 2
6  61a3bf26002f6ba194601eb8  mario  ... 2021-10-10 22:00:00                 1
7  61a3bf26002f6ba194601eb8  mario  ... 2021-10-18 22:00:00                 1
8  61a3bf26002f6ba194601eb8  mario  ... 2021-11-16 23:00:00                 4
9  61a3bf26002f6ba194601eb8  mario  ... 2021-11-27 23:00:00                 5

[10 rows x 7 columns]

Esercizi

1. trovare i nominativi dei proprietari di auto che hanno commesso un'infrazione legata ai limiti di velocitÃ  (eccesso di velocitÃ )

2. trovare il numero di infrazioni per ogni tipologia di effrazione. Visualizzare il nome dell'effrazione e il numero di multe

3. trovare i nominativi dei proprietari e il tipo di infrazione commessa in un giorno particolare inserito dall'utente

4. visualizzare le targhe delle auto con cui non Ã¨ stata commessa nessuna infrazione

5. visualizzare le tipologie di infrazione per cui non Ã¨ stata elevata nessuna multa

1)

In [ ]:
df_prop_multe = pd.merge(df_prop, df_multe_complessivo, how = "inner", on =["targa"])
df_tipo_infraz["codice"] = df_tipo_infraz["codice"].astype(int)
df_prop_multe

                      _id_x   nome  ...                data codice_infrazione
0  61a3bf26002f6ba194601eb9  carlo  ... 2021-10-17 22:00:00                 2
1  61a3bf26002f6ba194601eb9  carlo  ... 2021-10-18 22:00:00                 3
2  61a3bf26002f6ba194601eb9  carlo  ... 2021-10-10 22:00:00                 2
3  61a3bf26002f6ba194601eb9  carlo  ... 2021-11-16 23:00:00                 3
4  61a3bf26002f6ba194601eb9  carlo  ... 2021-11-12 23:00:00                 5
5  61a3bf26002f6ba194601eb9  carlo  ... 2021-11-11 23:00:00                 2
6  61a3bf26002f6ba194601eb8  mario  ... 2021-10-10 22:00:00                 1
7  61a3bf26002f6ba194601eb8  mario  ... 2021-10-18 22:00:00                 1
8  61a3bf26002f6ba194601eb8  mario  ... 2021-11-16 23:00:00                 4
9  61a3bf26002f6ba194601eb8  mario  ... 2021-11-27 23:00:00                 5

[10 rows x 7 columns]

In [ ]:
df_prop_multe_infra = pd.merge(df_prop_multe, df_tipo_infraz,how = "inner", left_on = "codice_infrazione",right_on = "codice")
df_prop_multe_infra

                      _id_x  ...                                               note
0  61a3bf26002f6ba194601eb9  ...                   tra 10 e 40 km/h oltre il limite
1  61a3bf26002f6ba194601eb9  ...                   tra 10 e 40 km/h oltre il limite
2  61a3bf26002f6ba194601eb9  ...                   tra 10 e 40 km/h oltre il limite
3  61a3bf26002f6ba194601eb9  ...  sospensione patente da 1 a 3 mesi se recidiva ...
4  61a3bf26002f6ba194601eb9  ...  sospensione patente da 1 a 3 mesi se recidiva ...
5  61a3bf26002f6ba194601eb9  ...                    eventuale arresto da 1 a 8 mesi
6  61a3bf26002f6ba194601eb8  ...                    eventuale arresto da 1 a 8 mesi
7  61a3bf26002f6ba194601eb8  ...                     fino a 10 km/h oltre il limite
8  61a3bf26002f6ba194601eb8  ...                     fino a 10 km/h oltre il limite
9  61a3bf26002f6ba194601eb8  ...                  sospensione patente da 2 a 6 mesi

[10 rows x 13 columns]

In [ ]:
df_prop_multe_infra = df_prop_multe_infra[df_prop_multe_infra["nome_y"] == "eccesso_di_velocitÃ "][["nome_x", "cognome"]].drop_duplicates()
df_prop_multe_infra

Empty DataFrame
Columns: [nome_x, cognome]
Index: []

In [ ]:
df_ecc_vel = df_tipo_infraz[df_tipo_infraz["nome"] == "eccesso di velocitÃ "]
df_ecc_vel

                        _id  ...                              note
1  61a49d205a4cb744e63c8d36  ...  tra 10 e 40 km/h oltre il limite
2  61a49d205a4cb744e63c8d35  ...    fino a 10 km/h oltre il limite

[2 rows x 6 columns]

2)

In [ ]:
df_conteggio = df_multe_complessivo.groupby(['codice_infrazione']).count()[['targa']].reset_index()
df_conteggio

In [ ]:
df_n_inf = pd.merge(df_conteggio, df_tipo_infraz, how = "right", left_on = "codice_infrazione", right_on = ["codice"])
df_n_inf[["nome", "targa"]]

                               nome  targa
0  circolazione corsia di emergenza    1.0
1               eccesso di velocitÃ     3.0
2               eccesso di velocitÃ     2.0
3  gare di velocitÃ  non autorizzate    3.0
4                    semaforo rosso    2.0
5         guida in stato di ebrezza    NaN

3)